/* eu to comentando tudo ta nao julgue */

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* sumario do css
A- inicio da navbar
B- inicio do conteudo das páginas
C- configurações da home
D- inicio das configurações de pagina de conteudo: paisagens,curiosidades etc */


/* A- inicio da navbar */

/* deixa todo o conteúdo do header ate o footer como flex p poder deixar 
bonitinho na vertical, e o min height é p ter certeza q ta até pelo menos 100% da altura da janela ocupada */
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}


/* removendo os efeitos dos links e deixando todos com cor de fonte branca além do gradiente no header,
é aqui que vc mexe na fonte da navbar tb*/
.navbar ul {
    font-size: 16px;
    background-image: linear-gradient(to right, #44010d,#8f0b13);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-weight: 600;
    
}


/* tirando os ballpoints das listas */
ul{
    list-style-type: none;
    text-decoration: none;
}


/* tamanho da logo e jogando a logo pra esquerda, antes dos elementos da navbar */
.logo {
    max-width: 80px;
    float: left;
    margin: 30px 60px;
    cursor: pointer;
    border-radius: 8px;
}


/* especificamente os elementos da navbar: home, belezas, pontos, curiosidades */
.navbar a{
    color:white;
    text-decoration: none;
    padding: 50px;

    /* display: block;
    text-align: center; */

}


/* jogando todos os elementos da navbar pra esquerda */
.navbar li{
    float: left;
    margin-top: 50px;
}


/* quando passa o mouse por cima muda a cor, p indicar que é clicavel */
.navbar a:hover{
    color: #ffcab4;
    transition: all 0.3s ease;
}


/* fim da navbar */





/* B- inicio do conteudo das paginas */


/* toda a cor de fundo das paginas, sem cagar o header e footer */
body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #FFF5EC;
    line-height: 1.5;
    text-align: justify;
}
 

/* flex 1 permite o conteudo ocupar todo o espaço disponivel que sobrou entre o header e o footer 
o content é o container principal de conteudo*/
.content{
    flex: 1;
    padding: 20px;
    margin: 0 auto;
}


/* todos os h1 padronizados */
h1{
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 25px;
}
/* todos os h2 padronizados */
h2{
    font-size: 24px;
}

p{
    margin-bottom: 1em;
}






/* C- configurações da home, nao esperava que fosse da tanto trabalho mas espero q nao mexamos nisso novamente */

/* isso aq ta uma bagunça pois estou testando como funciona o alinhamento, o primeiro é o original
e o de baixo é o novo que fiz na tentativa e erro */

/* centraliza o texto da home, eu nao sei como so sei que ta centralizado
e se mexer quebra */


/* inicio do bloco original */
/* .textoHome{
     flex: 1;
     padding: 20px;
     margin: 150px auto;
     width: 70%;
} */

/* deixa o texto alinhado ao lado do texto e ja formatadinho */
/* .imagemHome{
   border-radius: 20px;
   box-shadow: 5px 10px 8px gray;
   float: right;
   margin-left: 50px;
   margin-top: 134px;
} */


/* toda a configuração daquele primeiro paragrafo com mais texto q tem na home
eu nao sei fazer ele todo flex bonito ent ficou tudo na mao tb */
/* .paragrafoHome{
    font-size: 20px;
    text-align: justify;
    background-color: #efdfc5;
    border-radius: 15px;
    margin-right: 30px;
    margin-top: 30px;
    padding: 50px;
    max-width: 600px;
    box-shadow: 0px 10px 20px gray;
} */
/* fim do bloco original */


/* <<bloco novo>> */

/* tamanho do h1 da home */

/* alinha o h2 da home com o paragrafo */
.h2Home{
    display: inline-block;
    max-width: 600px;
}
/* configurações da imagem da home */
.imagemHome{
    margin-left: 30px;
    border-radius: 20px;
    box-shadow: 5px 10px 8px gray;
}
/* container com o h1,h2, p e img da home que  */
.imageContainer{
    width: fit-content;
    margin: 100px auto;
    
}
/* alinha o paragrafo e a imagem da home lado a lado */
.alinhamento{
    display: flex; 
    align-items: center;
    width: fit-content;
}
/* todas as propriedades da caixinha de paragrafo da home */
.paragrafoHome{
    display: inline-block;
    font-size: 20px;
    background-color: #efdfc5;
    box-shadow: 0px 10px 20px gray;
    border-radius: 15px;
    padding: 50px;
    max-width: 600px;
    margin-top: 30px;
}
/* <<fim do bloco novo>> */


/* conf do segundo paragrado de Quer saber mais? na home */
.segundoParagrafoHome{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    max-width: 600px;
    margin:0 auto 0 auto;
}
/* e seu respectivo botao */
.botaoHome{
    text-align: center;
    padding-top: 30px;
}




/* configurações de quase todos os botoes do site */
.botoes{
    background-color: #e22227;
    border: none;
    width: 260px;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 3px 10px #4d000f;
}
/* e o hover deles */
.botoes:hover, .botoes:focus, .botoes:active{
    box-shadow: 0px 10px 20px #4d000f;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
     color: #fbebd8;
    transition: all 0.3s ease;
}


/* D- inicio das configurações de pagina de conteudo: paisagens,curiosidades etc*/

.linha{
    display: flex;
}
.coluna{
    flex:50%;
    
}
.conteudoPaginas{
    font-size: 20px;
    background-color: #efdfc5;
    box-shadow: 0px 5px 10px gray;
    border-radius: 15px;
    padding: 50px;
   width: 840px;
   margin-bottom: 80px;
}

.conteudoPaginas img{
    border-radius: 20px;
    box-shadow: 5px 10px 8px gray;
    margin: 10px auto;
    margin-top: 50px;
    display: block;
    height: auto;
}
.fulano{
    display:block;
    text-align: center;
    font-size: 10px;
    margin-bottom: 50px;
}




.menuAcessoRapido{
    font-size: 20px;
    background-color: #efdfc5;
    box-shadow: 0px 5px 10px gray;
    border-radius: 5px;
    padding: 30px;
    margin-left: 90px;
    width: fit-content;
    position: sticky;
    top: 0;
}









/* bloco do accordion */
#containerAccordion{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.accordion{
    background-color: #8f0b13;
    border-radius: 8px;
    padding: 20px;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.accordion-header{
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
}
.accordion-header span{
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.accordion-body{
    color: #efdfc5;
    font-size: 14px;
    opacity: 0;
    height: 0;
}
.accordion-body.active{
    height: 100%;
    opacity: 1;
    padding: 15px 0px;
    overflow: hidden;
    transition: opacity .3s;
}
.arrow{
    transition: transform .2s linear;
}
.accordion:has(.active) .arrow{
    transform:rotate(180deg) ;
}
/* fim do accordion */


/* inicio do footer */

/* mespaço interno do footer inteiro */
.footer{
    padding-top: 70px;
}


/* configurações do footer */
.footerContainer {
    background-image: linear-gradient(189deg,#8f0b13, #2a0109);
    color: white;
    padding: 70px 0px;
    margin: auto;
    /* max-width: 1170px; */
}


/* altera a cor da fonte do footer e a de baixo dele 
muda a cor quando ta em hover */
.footerContainer a{
    color: white;
    transition: all 0.3s ease;
}
.footerColuna a:hover{
    color: #ffcab4;
}


/* organiza a disposição em forma de linha/raia como se fosse numa tabela */
.footerRaia{
    display: flex;
    flex-wrap: wrap;
    
}


/* organiza a disposição em forma de coluna como se fosse numa tabela */
.footerColuna{
    width: 350px;
    padding: 0 30px;
    margin: 0 auto;
    /* background-color: aqua; */
}


/* deixa um espacinho maneiro em baixo dos h3 que sao os titulos de cada coluna
o position relative pelo q vi faz o elemento seguir o fluxo do documento, como o h3 ta em cima e o resto embaixo, ele segue isso, eu acho... */
.footerColuna h3{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}


/* aqui é onde cria a linha vermelha em baixo dos h3, ele cria um pseudo elemento vazio e aparentemente é bem comum p qualquer decoraçao ou frufru
tipo um divisor sem ter q por no html, ent é puro css*/
.footerColuna h3::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f6323c;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}


/* aq ta adicionando uma margem em baixo de cada item da lista,
not last child significa que todos c exceção do ultimo, nao vai ter essa margem, aí nao quebra a margem que ja existe em baixo sacas */
.footerColuna ul li:not(:last-child){
    margin-bottom: 10px;
}


/* o block significa que ele ocupa todo o espaço restante da lista
facilita de clicar
e o transition aplica uma transição suave pra qualquer efeito q tenha na tag */
.footerColuna ul li a{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

/* desloca o elemento pra direita adicionando margem interna na esquerda 
quando passa o mouse por cima, e ela é suave por causa do de cima q suaviza
quando n tem a suavidade é bruto demais mo paia */
.footerColuna ul li a:hover{
    color: #ffcab4;
    padding-left: 10px;
}


/* a barra branca c nossos nomes centralizada */
.footerBottom{
    text-align: center;

}

/* e deixando em bold */
.feitoPor{
    font-weight: bold;
}